body {
    width: 1280px;
    height: auto;
    background: #191516;
  }

  .ptrootui {
    color: #EAFF47;
    font-size: 128px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  .outerrectangle {
    width: 1125.22px;
    height: 655px;
    border: 3px solid #EAFF47;
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
  }
  .button {
    width: 26px;
    height: 26px;
    border: 3px solid #EAFF47;

  }
 .topstripes {
    width: 1119.22px;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    gap: 4px;
 }
 .stripe {
    color: #EAFF47;
    width: 1125.22px;
    height: 3px;
    margin-top: 14px;
 }
  .innerrectangle {
    color: #191516;
    border: 3px solid #EAFF47;
    width: 907px;
    height: 317px;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translate(0, -50%);
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  .noiseboarder {
    width: 1057px;
    height: 532px;
    border: 3px solid #EAFF47;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    position: relative
  }

  /*! второй */
  .outrectangle {
    width: 879.56px;
    height: 512px;
    border: 3px solid #EAFF47;
    margin-left: 79px;
    margin-top: 50px;
    position: relative;
  }
.hat {
  position: absolute;
  top: 3px;
}
.installtxt {
  font-size: 20px;
  color: #EAFF47;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.boardernoise {
  position: relative;
  border: 3px solid #EAFF47;
  width: 829px;
  height: 416px;
  top: 60%;
  transform: translate(0, -50%);
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.pattern {
position: absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width: 829px;
height: 416px;
overflow: hidden;
}
.pattern img {
  width: 829px;
  height: 416px;
}
.warning {
  position: absolute;
  z-index: 9;
  color: #191516;
  border: 3px solid #EAFF47;
  width: 784.62px;
  height: 281.47px;
}
.warningtxt {
  font-size: 28px;
  color: #191516;
}
.percent {
  font-size: 24px;
  color: #191516;
}

.yes {
  font-size: 24px;
  color: #EAFF47;
  color: #191516;
  border: 3px solid #EAFF47;
  width: 184.62px;
  height: 46.91px;
  position: absolute;
  z-index: 9;
}
.yes2 {
  color: #191516;
  border: 3px solid #EAFF47;
  width: 184.62px;
  height: 46.91px;
  position: absolute;
  z-index: 9;
}